@import 'palette.styl'

@import 'utilities.styl'
@import 'game.styl'
@import 'game-description.styl'
@import 'list.styl'

 body
   background: $divider-color;

.nav-wrapper
  background: $primary-color;
