$preloaderDiameter = 150px;

.u
  &-paddingZero
    padding: 0 !important;

  &-marginZero
    margin: 0 !important;

  &-preloader
    height: $preloaderDiameter !important;
    width: $preloaderDiameter !important;
    margin-top: 100px;
    margin-left: (-1)*($preloaderDiameter/2);
    left: 50%;

  &-fullWidth
    width: 100% !important;
