<li class="modalList-item">
  <a class="modal-trigger modalList-item__image show-description" href="#modal-description">
    <img src="{{thumb}}" alt="" class="" />
  </a>
  <div class="modalList-item__content">
    <div class="left">
      <span class="modalList-item__content-title">{{title}}</span>
      <p>{{short_description}}
      </p>
    </div>

    <a class="tooltipped modalList-item__content-btn btn-floating waves-effect waves-light finished"  data-position="top" data-delay="50" data-tooltip="finished?">
      <i class="material-icons">done</i>
    </a>

  </div>
</li>
