<div class="game medium card hoverable">
   <div class="card-image game__image waves-effect waves-block waves-light">
     <img class="activator" src="{{thumb}}">
   </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">{{title}}</i></span>

   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4">{{title}}</i></span>
     <p>{{short_description}}</p>
     <a class="waves-effect waves-light btn add-game">Add</a>
     <a class="waves-effect waves-light btn add-current">Custom</a>
   </div>
 </div>
