<div class="nav-wrapper">
  <a href="#" class="brand-logo">Games</a>
  <ul  class="right hide-on-med-and-down">
    <li><a class="modal-trigger history-list-trigger" href="#history-list-modal">My History</a></li>
    <li><a class="modal-trigger current-list-trigger"  href="#current-list-modal">My Games</a></li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li><a class="modal-trigger history-list-trigger" href="#history-list-modal">My History</a></li>
    <li><a class="modal-trigger current-list-trigger" href="#current-list-modal">My Games</a></li>
  </ul>

  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
